body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; /* Set your desired background color */
}

.centered-text {
    text-align: center;
}

.profile-photo {
    text-align: center;
    margin-bottom: 20px;
}

.profile-photo img {
    width: 150px; /* Adjust the size as needed */
    height: 150px; /* Adjust the size as needed */
    border-radius: 50%; /* Makes the image circular */
    border: 5px solid transparent;
    background-image: linear-gradient(135deg, #4e67eb, #6e2fa6);
    -webkit-background-clip: padding-box; /* Apply the gradient inside the border */
    background-clip: padding-box; /* Apply the gradient inside the border */
}

.centered-text h1 {
    font-size: 2.5em;
    margin-top: 0; /* Reset the margin */
    margin-bottom: 20px;
    background: linear-gradient(135deg, #4e67eb, #6e2fa6);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.centered-text p {
    font-size: 1.5em;
}
